<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= builderObj.title %> | Kaleb Bernou</title>
    <link inline="" rel="stylesheet" href="../styles/style.css" />
    <h1>Kaleb Bernou</h1>
    <a href="/">Home</a> | <a href="/projects">Projects</a> | <a href="/recipes">Recipes</a> 
    <hr/>
    <h2><%= builderObj.title %></h2>
  </head>