<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= builderObj.title %> | Kaleb Bernou</title>
    <link inline="" rel="stylesheet" href="../styles/style.css" />
    <link rel="icon" type="image/svg+xml" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 width=%22256%22 height=%22256%22 viewBox=%220 0 100 100%22><rect width=%22100%22 height=%22100%22 rx=%220%22 fill=%22%23000000%22></rect><path d=%22M48.52 27.85L46.18 28.39L28.63 47.11L48.28 71.53L50.62 72.07L50.55 73.56L35.57 73.56L35.49 71.92L38.85 71.53L30.03 58.11L22.00 48.83L22.00 48.05L31.12 37.36L37.05 28.39L33.78 28.00L33.85 26.37L48.44 26.37L48.52 27.85ZM11.78 72.07L14.12 71.53L15.06 58.11L15.06 41.73L14.12 28.39L11.78 27.85L11.86 26.37L24.42 26.37L24.49 27.85L22.15 28.39L21.22 41.81L21.22 58.19L22.15 71.53L24.49 72.07L24.42 73.56L11.86 73.56L11.78 72.07ZM54.52 72.00L56.86 71.45L57.80 58.11L57.80 41.73L56.86 28.47L54.52 27.93L54.60 26.44Q67.78 26.13 70.20 26.13L70.20 26.13Q86.27 26.13 86.27 38.69L86.27 38.69Q86.27 45.94 79.95 49.06L79.95 49.06Q88.22 52.42 88.22 60.41Q88.22 68.41 83.31 71.14Q78.39 73.87 67.71 73.87L67.71 73.87Q62.64 73.87 54.60 73.48L54.60 73.48L54.52 72.00ZM63.96 51.56L63.96 58.19L64.66 68.64Q68.10 69.11 70.36 69.11L70.36 69.11Q80.97 69.11 80.97 60.22L80.97 60.22Q80.97 55.46 78.24 53.39Q75.51 51.33 69.19 51.33L69.19 51.33Q68.72 51.33 63.96 51.56L63.96 51.56ZM64.66 31.28L63.96 41.81L63.96 47.04Q66.46 47.27 68.56 47.27L68.56 47.27Q74.26 47.27 76.68 45.24L76.68 45.24Q79.02 43.29 79.02 39.00L79.02 39.00Q79.02 30.81 69.58 30.81L69.58 30.81Q67.63 30.81 64.66 31.28L64.66 31.28Z%22 fill=%22%23fff%22></path></svg>" />
    <h1>Kaleb Bernou</h1>
    <a href="/">Home</a> | <a href="/projects">Projects</a> | <a href="/recipes">Recipes</a> 
    <hr/>
    <h1><%= builderObj.title %></h1>
  </head>
  <body>