<body>
    <ul>
        <% for (let i = 0; i < builderObj.projects.length; i++) { %>
        <li><a href="/projects/<%= builderObj.projects[i] %>"><%= builderObj.ToTitleCase(builderObj.projects[i]) %></a></li>
        <% } %>
    </ul>
</body>
