<h1 id="advanced-beans-and-rice">Advanced Beans and Rice</h1>
<h2 id="ingredients">Ingredients</h2>
<ul>
<li>Brown rice</li>
<li>Chickpeas</li>
<li>Diced beets</li>
<li>Pesto</li>
<li>Topped with feta</li>
</ul>
<h2 id="instructions">Instructions</h2>
<ol type="1">
<li>Make the rice</li>
<li>Mix everything else in</li>
<li>Top with feta</li>
</ol>
