<h1 id="alfredo-flatbread-pizza">Alfredo Flatbread Pizza</h1>
<h2 id="ingredients">Ingredients</h2>
<ul>
<li>Flatbread</li>
<li>Mozzarella 3/8 cup</li>
<li>Mushroom alfredo sauce 1/8th cup</li>
</ul>
<p>Additional taste ingredients: * Sautéed chicken * Garlic * Spinach * Mushrooms * Eggplant</p>
<h2 id="instructions">Instructions</h2>
<ol type="1">
<li>Apply ingredients to flatbread as you would pizza dough</li>
<li>Bake for a bit in the oven</li>
</ol>
