<h1 id="buffalo-chicken-dip">Buffalo Chicken Dip</h1>
<p>A delicious dip best eaten with baguette slices, but whatever you want to use to transfer it to your mouth will be good enough!</p>
<h2 id="ingredients">Ingredients</h2>
<ul>
<li>1 1/2 bricks cream cheese</li>
<li>3/4 cups blue cheese or ranch salad dressing</li>
<li>Cooked chicken, crumbled [probably 1-2 breasts]</li>
<li>3/4 cup Frank’s hot sauce</li>
<li>Shredded cheese [probably 1 1/2 cups]</li>
</ul>
<h2 id="instructions">Instructions</h2>
<ol type="1">
<li>Spread cream cheese evenly accross pan</li>
<li>Spread dressing evenly on top of the cream cheese</li>
<li>Top with chicken</li>
<li>Drizzle hot sauce</li>
<li>Spread cheese above</li>
<li>Back 350 for 20 mins or until bubbly</li>
</ol>
