<h1 id="butter-chicken">Butter Chicken</h1>
<h2 id="ingredients">Ingredients</h2>
<ul>
<li>Big-ass onion, chopped or slivered</li>
<li>2 tbsp butter (or more to taste / don’t have coconut milk)</li>
<li>2 tbsp curry powder</li>
<li>1/4 tsp cayenne</li>
<li>1/4 tsp ginger (optional, but reccomended)</li>
<li>1 tbsp brown sugar</li>
<li>1/4 tsp cinnamon</li>
<li>Protean (Meat/tofu/chickpeas/dry beans/lentils…)</li>
<li>5 cloves garlic, minced</li>
<li>Whole diced tomato (or ~1 cup canned)</li>
<li>1 cup coconut milk (optional, as more suace can be created by adding more tomato or butter, but highly recommended)</li>
<li>(optional) Potatos/chickpeas to make it more filling</li>
<li>Rice</li>
</ul>
<h2 id="instructions">Instructions</h2>
<ol type="1">
<li>Fry chicken/tofu (or used protein?) in 2 tbsp oil</li>
<li>Remove tofu/meat from cooking implement, set aside, keep leftover oil and debris in the cooking implement</li>
<li>Using the same cooking implement, add table spoon of oil and caramelize the onions</li>
<li>Add tomatoes, spices, coconut milk, garlic and butter</li>
<li>Simmer for 5 mins</li>
<li>Add chicken (or pour over tofu)</li>
<li>Serve over rice.</li>
</ol>
