<h1 id="charred-brussel-sprouts">Charred Brussel Sprouts</h1>
<h2 id="ingredients">Ingredients</h2>
<ul>
<li>Brussel sprouts</li>
<li>Olive oil</li>
<li>Garlic powder</li>
<li>Salt</li>
<li>(optionally served with) soy sauce</li>
</ul>
<h2 id="instructions">Instructions</h2>
<ol type="1">
<li>Cut brussel sprouts into 4s</li>
<li>Toss in a little olive oil</li>
<li>Toss in garlic powder</li>
<li>Toss in salt</li>
<li>Put on super hot pan, cover for a few mins</li>
<li>Toss around to char on other side, turn off heat</li>
</ol>
<p>Good eated with soy sauce. Low cals, high fibre</p>
