<h1 id="creamy-garlic-scallops">Creamy Garlic Scallops</h1>
<h2 id="ingredients">Ingredients</h2>
<ul>
<li>1 lb jumbo natural scallops</li>
<li>salt</li>
<li>ground black pepper</li>
<li>1 tablespoon olive oil</li>
<li>1 tablespoon melted butter</li>
<li>2 cloves garlic, minced</li>
<li>3 tablespoons heavy whipping cream</li>
<li>1/4 cup water</li>
<li>2 tablespoons white wine or Japanese cooking sake, optional</li>
<li>1/8 teaspoon cayenne pepper</li>
<li>salt to taste</li>
<li>1 teaspoon chopped parsley leaves</li>
<li>1 slice lemon wedges, quartered, for garnishing, (optional)</li>
</ul>
<h2 id="instructions">Instructions</h2>
<ol type="1">
<li>Rinse the scallops, pat dry with paper towels.</li>
<li>Season with salt and black pepper.</li>
<li>Heat up a skillet with olive oil and butter.</li>
<li>Pan-sear the scallops on both sides until nicely browned, but don’t overcook them. Remove and set aside.</li>
<li>On the same skillet, add the garlic and saute. Add a little bit olive oil if you want.</li>
<li>Add the cream, water, wine, salt and cayenne pepper. Bring it to a gentle simmer until the sauce thickens a bit.</li>
<li>Add the scallops back into the skillet, add the chopped parsley leaves and lemon wedges, turn off heat and serve immediately.</li>
</ol>
<h2 id="additional-considerations">Additional Considerations</h2>
<ul>
<li>Works well served with rice</li>
</ul>
