<h1 id="double-crunch-bumble-berry-crisp">Double Crunch Bumble Berry Crisp</h1>
<h2 id="ingredients">Ingredients</h2>
<p>Flour Mixture: * 1 cup flour * 1 cup rolled oats * 3/4 cup brown sugar * 1/2 tsp cinnamon * 1/2 tsp nutmeg * 1/2 cup butter, melted</p>
<p>Fruit Filling: * 8 cups frozen triple berry mix or any combination of fresh or frozen fruit. Strawberries, raspberries, rhubarb, blackberries etc. NOTE: Recipe was double and 2 additional cups of raspberries were added. High reccomended.</p>
<p>Sauce: * 2/3 cup white sugar * 1 tbsp cornstarch or arrowroot flour * 1 cup cold water</p>
<h2 id="instructions">Instructions</h2>
<ol type="1">
<li>Combine flour mixture ingredients and press half the mixture into the base of a greased 9“x13” baking pan.</li>
<li>Bake at 375 F oven 10-15 minutes, until lightly browned.</li>
<li>Combine sauce ingredients and bring to a boil on the stove top for 5 min, until thickened.</li>
<li>Pour over fruit, then place in pan with browned crust.</li>
<li>Top with remaining half of flour mixture.</li>
<li>Place in oven and bake uncovered, 40-45 minutes.</li>
</ol>
<p>Serve with whipped cream or ice cream</p>
