<h1 id="egg-cups">Egg Cups</h1>
<h2 id="ingredients">Ingredients</h2>
<ul>
<li>Eggs</li>
<li>Shredded cheese</li>
<li>Broccoli</li>
<li>Asperagus</li>
<li>(Optional) breakfast sausage crumble</li>
</ul>
<h2 id="instructions">Instructions</h2>
<ol type="1">
<li>Place into cup things (ie cup cake tray)</li>
<li>Bake for ~22 mins @ 350F</li>
</ol>
