<h1 id="generic-stir-fry">Generic Stir Fry</h1>
<p>This one’s a bit of a choose your own adventure book. Came from Reddit, of course.</p>
<h2 id="ingredients-and-processes">Ingredients and Processes</h2>
<p>Foundation</p>
<p>Oil and onions son, that’s layer one. Toss it on some heat and let it sizzle a little.</p>
<p>Spicies</p>
<p>Don’t think about it more than a second, it’s whatever flavors you got in your cabinet. (and salt)</p>
<p>Ricies</p>
<p>If it feels like a rice kinda day. If not, it’s still stir-fry.</p>
<p>Fungus and Veggies</p>
<p>What’s in the fridge?</p>
<p>Mushrooms? They make your body work better. King trumpet, shiitake, oyster, white button, get some fungus in that pan every day of the week. Or not, if you’re not inclined – you got some veggies? Freezer or the fridge, doesn’t matter, toss it in.</p>
<p>More colors for your eyes means more colors for your tongue. Veggies are pretty, and they taste pretty, too. Now why’s that –&gt; because they’re good for you!</p>
<p>(Is tofu a vegetable? What about egg?)</p>
<p>Thin stuff (like lil leafs!) cook faster than the big boys, hence you’ve gotta put them in in order of density. If you feel like it. If not, you’ve still got stir-fry.</p>
<p>Stir</p>
<p>I hope that’s what you’ve been doing. If so, don’t stop!</p>
<p>Actually, you can stop. Pretty much whenever you want – to chop something up, or add something you forgot, or text back your mans, or wash your hands. Your pan is like a chill cat – doesn’t care much about how you spend your time. So long as you come back and scritch it with a spoon every once in a while.</p>
<p>Have you got noodles? Stir. Rice? Stir.</p>
<p>Nothing but a bowl and a pan full of goodness?</p>
<p>Right Click -&gt; Use Pan on Bowl +49 XP</p>
<p>Now you’ve got a bowl full of goodness.</p>
<p>Eat</p>
<p>I trust you don’t need much instruction on this part.</p>
<h2 id="epilogue">Epilogue</h2>
<p>Stir-fries taste like love. If you put beautiful things in (have you ever a seen a purple cauliflower?) you’ll get beautiful back out.</p>
<p>You are what you eat, so you should eat beautiful.</p>
