<h1 id="goat-cheese">Goat Cheese</h1>
<p>Also from Reddit.</p>
<h2 id="ingredients-and-process">Ingredients and Process</h2>
<p>2 gallons raw goat milk from PA 1/4ish tablet walcoren calf rennet One ice cube of my home made yogurt-like starter that I made from kefir and Jersey cow milk. (But did not directly user kefir) After the adding both to 90°F and let sit at room temp covered in the pot at about 65-68°F for about 36 hrs until I saw a film. Then scooped half into forms in pic and did the other half in cheese cloth for fresh chévre. The fresh chevre we did one with garlic and Italian dried spice mix and left the rest just salted/plain to add jam or honey to add we eat it.</p>
<p>Don’t flip them until they’ve at least sat for 2-3 hrs. Even then they will be super mushy like Greek yogurt. Then flip every few hrs, though it’s not mandatory to flip them that much. After about 24 hrs they should be firm enough to sit on their own. This is my first time so just giving my experience that is working out pretty well. I’m going to age mind into Crottin.</p>
