<h1 id="grilled-honey-soy-salmon">Grilled Honey Soy Salmon</h1>
<h2 id="ingredients">Ingredients</h2>
<ul>
<li>100g fillet of salmon</li>
<li>Soy sauce</li>
<li>Honey</li>
<li>(Optional, but reccomended) Lime juice</li>
<li>Garlic</li>
<li>Ginger</li>
<li>~125g cauliflower rice</li>
<li>Chopped kale</li>
<li>Beans</li>
<li>Peas</li>
<li>(Optional, for kick) Chilies</li>
</ul>
<h2 id="instructions">Instructions</h2>
<ol type="1">
<li>Remove skin of salmon</li>
<li>Cover salmon with a little bit of soy and honey (and lime juice)</li>
<li>Cook under grill/broiler for about 3-5 mins each side, depending on how much coral[0] you like in it.</li>
<li>(Optional) The skin, if you want to include it, will take about 10 mins under the grill.</li>
<li>Throw some garlic and ginger in a fry pan, then add the veggies/cauliflower rice. Cook until ready, ~6 minutes</li>
<li>(Optinal) Add a dash of soy.</li>
<li>Add fresh chili for some kick</li>
</ol>
<h2 id="additional-considerations">Additional Considerations</h2>
<p>[0] coral: Salmon changes colour as it cooks - it becomes paler, more flakey. Some people prefer their salmon fillets on the rare side (more of the deep coral colour remains), others prefer well done.</p>
