<h1 id="honey-garlic-enokitake-green-pepper-sproud-udon-stiry-fry-mouthful">Honey Garlic Enokitake Green Pepper Sproud Udon Stiry Fry Mouthful</h1>
<p>I think the body I cobbled together, the sauce came from… somewhere online.</p>
<h2 id="ingredients">Ingredients</h2>
<p>Body: * 287g green pepper * 221g onion * 250g bean sprouts * 200g Enokitake mushrooms * 400g firm tofu</p>
<p>Sauce:<br />
Makes 1-1/4 cups<br />
Keeps in the fridge for about 1 week * 1/2 cup low sodium soy sauce (or Tamari if gluten free) * 1/2 cup chicken stock (or vegetable broth if vegan) * 1 tablespoon corn starch (or arrow root) * 1 tablespoon honey (or agave nectar if vegan) * 1 teaspoon sesame seed oil * 1 teaspoon rice vinegar * 2 inch piece of ginger, peeled and grated or finely minced (or 1 tablespoon ginger paste in a squeeze tube, and other readers have had success with 1 tablespoon ground powdered ginger) * 2 garlic cloves, grated or finely minced</p>
<h2 id="instructions">Instructions</h2>
<p>Sauce: 1. Whisk all ingredients together. Adjust the amount of sauce you add according to how much stir fry you’re making. 2. When adding to your stir fry, allow to cook for 3 full minutes to allow the corn starch to thicken the sauce.</p>
<p>All together: Use typical stir fry techniques</p>
