<body>
    <ul>
        <% for (let i = 0; i < builderObj.recipes.length; i++) { %>
        <li><a href="/recipes/<%= builderObj.recipes[i] %>"><%= builderObj.ToTitleCase(builderObj.recipes[i]) %></a></li>
        <% } %>
        
    </ul>
</body>
