<h1 id="bread-maker-light-and-fluffy-2lb-white-bread-loaf">Bread Maker Light and Fluffy 2lb White Bread Loaf</h1>
<p>Holy cow is this shit fluffy and soft.</p>
<h2 id="ingredients">Ingredients</h2>
<ul>
<li>1.5 cups water</li>
<li>2 tbsp oil (canola reccomended)</li>
<li>2 tbsp sugar</li>
<li>1.75 tsp salt</li>
<li>4 cups (500g) white flour (“bread flour” reccomended)</li>
<li>2.25 tsp active dry yeast</li>
</ul>
<h2 id="instructions">Instructions</h2>
<ol type="1">
<li>Yeet the shit into the bread pan in the order listed above</li>
<li>Select “Basic” setting</li>
<li>Select “Light” crust setting</li>
<li>Start that bitch and let ’er chooch</li>
</ol>
