<h1 id="pan-seared-tofu">Pan-seared Tofu</h1>
<p>“This recipe comes courtesy of my mom, who’s never used Reddit before but does love cheap and healthy cooking. Coming from a non-vegetarian Chinese guy, this stuff is f-ing delicious. It’s a uper easy vegetarian protein, and all you need is a non-stick pan, a block of tofu, oil, salt, and soy sauce.”</p>
<h2 id="ingredients">Ingredients</h2>
<ul>
<li>1 package of firm tofu</li>
<li>1-2 tablespoons oil</li>
<li>Salt</li>
<li>1 tbsp soy sauce</li>
<li>1 tbsp water</li>
<li>1/2 tbsp sugar (optional)</li>
<li>2-3 green onions, cut into inch-long segments and halved (optional)</li>
<li>1 tbsp Lao Gan Ma (Chili Oil with Black Beans) (optional but wow it tastes good)</li>
</ul>
<h2 id="instructions">Instructions</h2>
<ol type="1">
<li>Cut tofu in half vertically/lengthwise, then again parallel to the cutting board, then horizontally across into slices</li>
<li>Heat non-stick saute pan over medium-high heat and add oil</li>
<li>Place tofu into pan when oil is hot (not smoking)</li>
<li>Don’t stir the tofu and leave a little space between each square</li>
<li>Add salt to the top of the tofu</li>
<li>When the bottom edges turn golden brown or when the tofu releases from the pan, flip the tofu one-by-one in order of placement (if too soft to flip, let it cook longer)</li>
<li>Once the other side of the tofu is brown, add green onions to pan, lower heat, and cover; allow tofu to take in the flavor for 2-3 minutes</li>
<li>Add soy sauce, water, Lao Gan Ma, and some sugar, and stir tofu to coat</li>
</ol>
<p>Tl;dr: put firm tofu into a pan, sear each side to golden brown perfection, add a splash of soy sauce if you want, and serve.</p>
