<h1 id="simple-teriyaki-sauce">Simple Teriyaki Sauce</h1>
<h2 id="ingredients">Ingredients</h2>
<p>Part 1 * 1 cup water * 0.25 cup soy sauce * 5 tsp packed brown sugar * 1 tbsp honey, or more to taste * 0.5 tsp ground ginger * 0.25 tsp garlic powder</p>
<p>Part 2 * 2 tbsp cornstarch * 0.25 cup cold water</p>
<h2 id="instructions">Instructions</h2>
<ol type="1">
<li>Combine all shit from part 1 into a saucepan over medium heat. Cook until heated through, ~1 min.</li>
<li>Combine shit from part 2 together in a cup, stir until dissolved.</li>
<li>Add to saucepan. Cook and stir until thickened, ~4-7 mins</li>
</ol>
