<h1 id="slow-cooker-cookie">Slow Cooker Cookie</h1>
<p>Reference: https://www.reddit.com/r/food/comments/fy12c7/homemade_slow_cooker_giant_chocolate_chip_cookie/</p>
<h2 id="ingredients">Ingredients</h2>
<ul>
<li>100g of butter</li>
<li>100g of caster/powdered sugar</li>
<li>75g of brown sugar</li>
<li>200gr of flour</li>
<li>250gr of chocolate chips</li>
<li>1 egg</li>
<li>bit of salt</li>
<li>1tbsp of vanilla extract</li>
<li>1tbsp baking powder</li>
</ul>
<h2 id="instructions">Instructions</h2>
<p>Batter: 1. Mix softened butter with both sugars, then add egg, baking powder, and vanilla extract; 2. Mix well, then add the flour. Mix it all with electrical mixer, until fairly smooth. 3. Fold in chocolate chips</p>
<p>Cooking: 1. Line slow cooker with parchment paper. 2. Pour batter into slow cooker. 3. Cook on high for ~2.5 hours 4. Should be about done, poke it with a toothpick. If it makes you happy, eat it!</p>
<p>Does end up with a gooey centre for me, but that’s what I like. In larger, more normal slow cookers then it might be more cooked through.</p>
