<h1 id="slow-cooker-chicken-and-dumplings">Slow Cooker Chicken and Dumplings</h1>
<h2 id="ingredients">Ingredients</h2>
<ul>
<li>1 medium onion, chopped</li>
<li>1.25 lb boneless skinless chicken breast</li>
<li>1 tsp dried oregano</li>
<li>1/2 tsp salt</li>
<li>1 tsp pepper</li>
<li>2 (10.5 oz) cans of cream of chicken soup</li>
<li>2 C low sodium chicken broth</li>
<li>4 sprigs fresh thyme (dry or ground thyme works fine, to taste)</li>
<li>1 bay leaf</li>
<li>2 stalks celery, chopped</li>
<li>2 large carrots, peeled and chopped</li>
<li>As many shrooms as you want</li>
<li>1 c frozen peas</li>
<li>3 cloves garlic, minced</li>
<li>See “Easy Dumplings” recipe OR 1 can refrigerated biscuits (ie Pulsbury country biscuit)</li>
</ul>
<h2 id="instructions">Instructions</h2>
<ol type="1">
<li>Scatter onions in the bottom of a slow cooker then top with chicken. Season with oregano, salt, pepper</li>
<li>Put carrots and celery on top</li>
<li>Pour condensed chicken soup and chicken broth on top. Add the bay leaf and sprigs of thyme</li>
<li>Cover and cook on high until chicken is cooked through, about 3 hours</li>
<li>Discard thyme and bay leaf. Shred chicken using 2 forks.</li>
<li>Stir in peas and garlic</li>
<li>Cut biscuits into small pieces, then stir into chicken mixture. Spoon liquid over any biscuits on top</li>
<li>Cook on high until vegetables are tender and biscuits are cooked through, about 1 hour more.</li>
</ol>
