<h1 id="slow-cooker-pulled-pork">Slow Cooker Pulled Pork</h1>
<p>Makes ~8 servings</p>
<h2 id="ingredients">Ingredients</h2>
<ul>
<li>0.5 tsp vegetable oil</li>
<li>1 (4 lb) pork shoulder roast</li>
<li>1 cup bbq sauce</li>
<li>1/2 cup apple cider vinegar</li>
<li>1/2 cup chicken broth</li>
<li>1/4 cup light brown sugar</li>
<li>1 tbsp “prepared” yellow mustardd</li>
<li>1 tbsp Worcestershire sauce</li>
<li>1 tbsp chili powder</li>
<li>1 extra large onion, chopped</li>
<li>3 cloves of garlic, crushed</li>
<li>1 1/2 tsp dried thyme</li>
</ul>
<h2 id="instructions">Instructions</h2>
<ol type="1">
<li>Pour vegetable oil into bottom of slow cooker</li>
<li>Place pork roast into the slow cooker</li>
<li>Pour in the BBQ sauce, apple cider vinegar, and chicken broth</li>
<li>stir in the brown sugar, yellow musted, Worcestershire sauce, chili powder, onion, garlic, and thyme</li>
<li>Cover and cook on high for 5-6 hours, until it shreds easily with a fork</li>
<li>Remove roast from slow cooker, shred, then return to slow cooker and stir in with juices</li>
</ol>
