<h1 id="sweet-potato-fry-dip">Sweet Potato Fry Dip</h1>
<p>This is halved for 2 person consumption, and it lasts for a good long while.</p>
<h2 id="ingredients">Ingredients</h2>
<ul>
<li>1 1/4 cup mayonnaise</li>
<li>1 tbsp lime juice</li>
<li>1 tsp ground chipotle powder</li>
<li>1/2 tsp chili powder</li>
<li>1/4 tsp paprika</li>
<li>1/4 tsp cumin</li>
<li>1/4 tsp garlic powder</li>
</ul>
<h2 id="instructions">Instructions</h2>
<ol type="1">
<li>Mix everything together.</li>
</ol>
