<h1 id="traditional-crepe">Traditional Crepe</h1>
<h2 id="ingredients">Ingredients</h2>
<p>Batter: * 1 Cup of flour * 1 Cup of milk * 1 egg * Pinch of salt</p>
<p>Note: you can add butter to that, but there’s really no need as the butter should be applied during the cooking. And NO sugar, as it increases the risk for breaking the crepe when folding.</p>
<p>Filling suggestions: * camembert &amp; red currant marmelade * chocolate &amp; a dash of coconut syrup * ham and cheese * jam/marmelade * Nutella * sugar with some fruit zest and Grand Marnier, lit on fire</p>
<h2 id="instructions">Instructions</h2>
<p>The batter has to be so thinly applied that you don’t need to flip the crepe - if you flip it, it will lose too much moisture. Rather than flipping, after the batter is “done” on the upper side (don’t forget to add a piece of butter below the crepe shortly before that, by lifting it with your hand and dropping the butter nugget below it), you just put on your fillings, and fold the crepe in the pan into a quarter of a circle, and flip the folded crep to the other side to evenly heat the filling - if so applicable, some fillings don’t like it too hot.</p>
